body{
    background-image: url(fundo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: justify;
    
}
h1{
    text-align: center;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    font-size: 40px;
    color: #000000;
}
h4{
    text-align: center;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    color: #000000;
}


section{ 
    
    text-align: center;
    align-items: center;
}
form{
    padding: 20px;
    -ms-flex-align: center;
    margin: auto;
    height: 250px;
    width:550px;
    text-align: justify ;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border-color: #000000;
}
label,input{
    
    font-family: 'Quattrocento';
    display: line-block;
    inline-size: 135px;
}
.confirm{
    font-family: 'Quattrocento';
    display: inline;
    text-align: justify;
}

input[type="checkbox"]{
    
    -webkit-appearance: none;
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    color: black;
    border: 3px;
}
input[type="checkbox"]:checked{
background-color: #439B8B;
}



button{
    background-color: #439B8B;
    border: 3px;
    color: white;
    width: 150px;
    height: 45px;
    border-radius:50px;
    font-size: 15px;

}
