body{
    background-image: url(fundo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    text-align: justify;
    align-items: center;
     
}
form{
    padding: 20px;
    margin: auto;
    width: 600px;
    font-size: 18px;
    font-family: 'Quattrocento';
    box-sizing: border-box;
    position: relative;
    top: 150px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border-color: black;
    
    
}
input[type="button"]{
    font-family: 'Quattrocento';
    -webkit-appearance: none;
    background-color: #439B8B;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    border: 3px;

}



footer{
    text-align: center;
}
p{
    position: relative;
    
    top: 250px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    
    align-items: center;
    text-align: center;
    
    color: #303033;
    
}
