body{
    background-image: url(fundo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    font-family: 'Quattrocento';
    padding: 20px;
    position: relative;
    align-items: center;
}
#navegacao{ 
    bottom: 60px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
}
img{
    position: relative;
    margin: auto;
    background-color: white;
    color: black;
    width: 50PX;
    border-radius: 600px;
}
.user{
    float: right;
}
section{
    font-family: 'Quattrocento' ;
    margin: auto;
    position: relative;
    text-align: justify;
    background-color: white;
    width: max-content;
    width: 900px;
    height: 900px;
    padding: 60px;
    border-radius: 60px;
}
.feed{
    padding: 15px;
    position: relative;
    float: left;
    left: 100px;
    margin: auto;
    width:700px;
    border-radius: 30px;
}
.butsec{
    position: relative;
    text-align: center;
    top: 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 3px;
    width: 80px;
    height: 40px;
}
.informacao{

    text-align: justify;
    float: left;
}
