body{
    background-image: url(fundo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    text-align: justify;
    align-items: center;
}
form{
    padding: 20px;
    font-size: 18px;
    font-family: 'Quattrocento';
    box-sizing: border-box;
    text-align: justify;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 350px;
    top: 150px;

    background-color: #FFFFFF;
    border-radius: 30px;
    border-color: black;
    
}
input[type="radio"]{
    -webkit-appearance: none;
    background-color: gray;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    color: black;
    border: 3px;
}
input[type="radio"]:checked{
background-color: rgb(77, 206, 77);
}



footer{
    text-align: center;
}
p{
    position: absolute;
    width: 540px;
    height: 20px;
    left: 370px;
    top: 500px;
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    
    align-items: center;
    text-align: center;
    
    color: #303033;
    
}
input[type="button"]{
    background-color: #439B8B;
    color: white;

    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 10px;
    font-size: 15px;
}
